/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */




a {
  color: black;
}

* {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }

#naslov {
  text-align: center;
}

section{
	margin: 30px 0 150px 0;
}



footer .page-footer{
	position: relative;
}

.card-title{
	margin-bottom: 0;
}



.card img{
  border-radius: 0;
  margin-left: 5px;
  
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .fullscreen-bg {
      background: url('img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
      display: url('img/videoframe.jpg') center center / cover no-repeat;
  }
}



html,
body,
.view {
  height: 100%; }


  

@media (max-width: 740px) {
  .full-page-intro {
    height: 1000px; } }

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */

  
 





